<div class="model" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--[1]在单击时调用$scope.$hide()-->
        <button class="close" type="button" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Create new Watchlist</h4>
      </div>
      <form role="form" id="add-list" name="listForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="list-name">Name</label>
            <!--[3]将输入绑定到watchlist.name-->
            <input type="text" class="form-control" id="list-name" placeholder="Name this watchlist" ng-model="watchlist.name" required/>
          </div>
          <div class="form-group">
            <label for="list-description"> Brief Description</label>
            <!--[4]将输入绑定到watchlist.description-->
            <input type="text" class="form-control" id="list-description" maxlength="40" placeholder="Describe this watchlist" ng-model="watchlist.description" required/>
          </div>
        </div>
        <div class="modal-footer">
          <!--[5]在单击时创建列表，但如果表单是无效的，那么它将处于禁用的状态-->
          <button type="submit" class="btn btn-success" ng-click="createList()" ng-disable="!listForm.$valid">Create</button>
          <button type="button" class="btn btn-danger" ng-click="$hide()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
