<div class="panel panel-info">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-eye-open"></span>
    Watchlists
    <!--[1]在单击时调用showModel()处理器-->
    <button type="button" class="btn btn-success btn-xs pull-right" ng-click="showModel()">
    <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
  <div class="panel-body">
    <!--[2]如果没有监视列表存在，则显示帮助文档-->
    <div class="text-center" ng-if="!watchlists.length">
      Use<span class="glyphicon glyphicon-plus"></span>to create a list
    </div>
    <div class="list-group">
      <!--[3]重复监视列表中的每个列表，并创建链接-->
      <a class="list-group-item" ng-repeat="list in watchlists track by $index">
        {{list.name}}
        <button class="close" type="button" ng-click="deleteList(list)">&times;</button>
      </a>
    </div>
  </div>
</div>
